@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --TP-COLOR: #0b48d5;
  --TP-BTN-LIGHT-COLOR: hsl(222, 90%, 95%);
  --TP-BTN-DARK-COLOR: hsl(222, 90%, 35%);
  --SPECIAL-RED: #bf0000;

  /* BORDERS */
  --THIN-LIGHT-GREY-BORDER: 1px solid var(--bs-gray-200);
  --TP-COLOR-BORDER: 1px solid var(--TP-COLOR);
}

/* @media (prefers-color-scheme: dark) {
    :root {
    }
} */

/* || UTILITY CLASSES */

.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

/* || GENERAL STYLES */

main {
  min-height: calc(100vh - 55px);
}

.a:any-link {
  color: black;
  text-decoration: none;
}
@media (hover: hover) {
  .a:hover {
    text-decoration: underline;
  }

  .a-without-underline-onhover:hover {
    text-decoration: none;
  }
}

/* || BOOTSTRAP ALTERATIONS */

p {
  margin-bottom: 0;
}

.btn-primary {
  background-color: var(--TP-COLOR);
  border-color: var(--TP-COLOR);
}

.no-top-border .accordion-header button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 400;
  height: 40px;
}

.no-padding {
  margin: 0 -0.75rem;
}

/* || HEADER */

/* || HEADER AUTHENTICATED */

.header-auth,
.header-unauth {
  height: 52px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.header-auth__nav {
  height: inherit;
  background-color: var(--bs-body-bg);
  border-top: var(--THIN-LIGHT-GREY-BORDER);
}

.header-auth__nav__ul {
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.header-auth__nav__ul li {
  width: 100%;
  height: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (hover: hover) {
  .header-auth__nav__ul li:hover {
    background-color: var(--bs-gray-100);
  }
}

.header-auth__nav__ul__li-4 img {
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
}

li.header-auth__nav__ul__div__li-5,
li.header-auth__nav__ul__li-1 {
  display: none;
}

/* || HEADER UNAUTHENTICATED */

.header-unauth {
  height: 60px;
  border-top: var(--THIN-LIGHT-GREY-BORDER);
  background-color: var(--bs-body-bg);
  padding: 0 1rem;
}

.header-unauth__div {
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
}

.header-unauth__btn {
  width: 45%;
}

/* || LOADER */

.loader::before {
  content: "typenpost";
}

.loader {
  font-family: Cabin, sans-serif;
  color: #0b48d5;
  font-weight: normal;
  font-size: 3rem;
  height: 100vh;
  display: grid;
  place-content: center;
}

/* || ERROR */

.error {
  display: grid;
  height: 60vh;
  place-content: center;
}

/* || LOGO FOR FORMS */

.logo-banner {
  font-family: Cabin, sans-serif;
  color: white;
  font-weight: normal;
  background-color: var(--TP-COLOR);
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -0.75rem;
  margin-right: -0.75rem;
  position: sticky;
  top: 0;
  z-index: 100000;
}
.logo-banner img.logo-banner-back {
  position: absolute;
  top: 50%;
  left: 2rem;
  transform: translate(-50%, -50%);
}

.logo-banner span.arrow p {
  width: 1rem;
  height: 1rem;
  display: block;
  background-color: white;
}
.logo-banner span.name {
  padding-bottom: 0.4rem;
}

/* || SPINNER FOR PAGES */
.spinner-for-pages {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}

/* || SHOW PASSWORD TOGGLE */

.show-password {
  position: relative;
}

.show-password-btn {
  position: absolute;
  top: 1.1rem;
  right: 1em;
  z-index: 1;
}

.show-password-btn-shifted {
  right: 2.3rem;
}

/* || SIMPLE CLASSES */

.img-shadowed {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.big-button {
  font-size: 1.5rem;
  height: 3.625rem;
}

.border-bottom-rounded {
  border-bottom-left-radius: calc(0.5rem - 1px);
  border-bottom-right-radius: calc(0.5rem - 1px);
}

.no-top-border {
  border-top: none;
}

.no-left-right-top-border {
  border-right: none;
  border-left: none;
  border-top: none;
}

.no-border {
  border: none;
}

/* || SETTINGS MODAL */

.listgroupitem-settings-modal {
  display: flex;
}

.listgroupitem-settings-modal span {
  padding-bottom: 0.1rem;
  padding-left: 0.4rem;
}

/* || FOLLOWING BUTTON */

.btn-following {
  color: black;
  background-color: white;
  border-color: black;
  width: 7rem;
}
@media (hover: hover) {
  .btn-following:hover {
    color: red;
    background-color: white;
    border-color: red;
    width: 7rem;
  }
  .btn-following:hover span {
    display: none;
  }
  .btn-following:hover:before {
    content: "Unfollow";
  }
}

/* || OPENED AVATAR */

.avatar-opened {
  background-color: rgba(0, 0, 0, 0.9);
  height: 110vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100002;
  animation-name: size-change;
  animation-duration: 0.3s; 
}

@keyframes size-change {
  from {
    height: 0vh;
    width: 0vw;
    top: 50%;
    left: 50%;
  }
  to {
    height: 110vh;
    width: 100vw;
    top: 0;
    left: 0;
  }
}

.avatar-opened img {
  max-width: 100%;
  margin-bottom: 10vh;
}

/* || EDIT PROFILE*/

.avatar-edit {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.avatar-edit img {
  height: 7rem;
  width: 7rem;
  object-fit: cover;
  border-radius: 50%;
}
.darkened-avatar {
  filter: brightness(60%);
}

.avatar-edit__div-delete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.textarea-edit .form-floating textarea {
  min-height: 7rem;
}

/* || DROPDOWN ITEM SETTINGS */

.header-auth__dropdown-item,
.post-card__dropdown-item {
  display: flex;
}
.header-auth__dropdown-item span,
.post-card__dropdown-item span {
  margin-left: 0.5rem;
  padding-bottom: 0.1rem;
}
@media (hover: hover) {
  .header-auth__dropdown-item:hover,
  .post-card__dropdown-item:hover {
    background: var(--bs-gray-100);
  }
}

.post-card__dropdown-item {
  color: red;
}

/* || MAIN ALERT */
.main-alert {
  position: sticky;
  top: 0;
  margin: 0 -0.75rem;
  z-index: 100001;
  border-radius: 0;
}

/* || CUSTOM DROPDOWN */

.c-dropdown {
  position: relative;
}

.c-dropdown__body {
  display: none;
  position: absolute;
  background: white;
  border: var(--THIN-LIGHT-GREY-BORDER);
  border-radius: 0.25rem;
  width: 7rem;
}

.c-dropdown__body-auth {
  width: 10rem;
}

.c-dropdown__body-post {
  top: 1.3rem;
  right: 0;
}

.c-dropdown__el {
  display: flex;
  align-items: center;
}

.c-dropdown__el:hover {
  background-color: var(--bs-gray-100);
}


.c-dropdown__el-auth {
  padding: 1.1rem 1.5rem;
}

.c-dropdown__el-post {
  padding: 0.5rem 0.7rem;
}

.c-dropdown__el-auth:first-child {
  border-bottom: var(--THIN-LIGHT-GREY-BORDER);
}

.c-dropdown__el span {
  padding-left: 0.25rem;
  padding-bottom: 0.1rem;
}
.c-dropdown__body-show {
  display: block;
}

/* || FOLLOW TABS */

.follow-header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.follow-tab {
  padding: 0.75rem 0;
  text-decoration: none;
  cursor: pointer;
}

.follow-tab-selected {
  background: var(--TP-COLOR);
  color: white;
}

.follow-tab-unselected {
  background: white;
  color: #6c757d;
}
@media (hover: hover) {
  .follow-tab-unselected:hover {
    background: var(--bs-gray-100);
    color: var(--bs-body-color);
  }
}

.follow-header img {
  width: 4rem;
  position: absolute;
  top: 50%;
  left: 1.3rem;
  transform: translate(-50%, -50%);
}

/* || USER HEADER */

.user-header-lg {
  display: none;
  margin-bottom: 0.5rem;
}

.user-header {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1rem;
}

.user-header__avatar {
  flex: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-header__avatar img {
  height: 5.5rem;
  width: 5.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.user-header-stats {
  text-align: center;
  flex: 70%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 1rem; */
}

.user-header__num {
  margin-bottom: -0.3rem;
  font-weight: bolder;
}

.user-header__name {
  margin: 0.5rem;
  width: 100%;
  margin: 0;
  margin-top: 0.3rem;
  overflow-wrap: break-word;
}
.user-header__name h4 {
  width: 100%;
  margin-bottom: 0;
}
.user-header__about {
  width: 100%;
  overflow-wrap: break-word;
}

.user-header__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user-header__date-joined {
  width: 100%;
}

.user-header__buttons button {
  width: 49%;
}

.user-header__buttons button.longer-btn {
  width: 100%;
}

.user-header__buttons button.settings-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2rem;
}
.user-header__buttons button.settings-btn span {
  padding-bottom: 0.1rem;
}

.user-header__following,
.user-header__followers {
  cursor: pointer;
}

@media (hover: hover) {
  .user-header__following:hover .user-header__following-word,
  .user-header__followers:hover .user-header__followers-word {
    text-decoration: underline;
  }
}

/* || USER FOLLOW CARD */
.user-follow-card {
  display: flex;
  width: 100%;
  height: 5rem;
  padding: 0 0.5rem;
  align-items: center;
  gap: 0.5rem;
}

.user-follow-card div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-follow-card div:first-child img {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

.user-follow-card div:nth-child(2) {
  flex: auto;
  width: 100px;
}

.user-follow-card div:nth-child(2) p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.user-follow-card div:nth-child(2) p:first-child {
  font-weight: 500;
  margin-bottom: -0.2rem;
}
.follow-list-btn {
  width: 6rem;
}

.follow-list-btn:hover {
  width: 6rem;
}

.no-follow-yet {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

/* || POST CARD */

.post-card {
  display: flex;
  flex-direction: column;
}
.post-card__top {
  display: flex;
}
.post-card__top div.post-card__top-avatar img.avatar {
  height: 4rem;
  width: 4rem;
  object-fit: cover;
  border-radius: 50%;
}

.post-card__top div.post-card__top-names {
  flex: auto;
  width: 100px;
  padding-left: 0.5rem;
  white-space: nowrap;
  margin-top: -0.3rem;
}
.post-card__top div.post-card__top-names p {
  text-overflow: ellipsis;
  overflow: hidden;
}
.post-card__top div.post-card__top-names p:first-child {
  font-weight: 500;
}
.post-card__top div.post-card__top-names p:last-child {
  margin-top: -0.2rem;
}
.post-card__top div.post-card__top-created {
  margin-top: -0.3rem;
  padding: 0 0.5rem 0 0.2rem;
}
.post-card div.post-card__footer {
  display: flex;
  align-items: center;
}
.post-card div:nth-child(2) {
  overflow-wrap: break-word;
}
.post-card div.post-card__footer div {
  display: flex;
  flex: 50%;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0 1.5rem;
  gap: 0.2rem;
}

.post-card div.post-card__footer div p {
  margin-top: -0.1rem;
}

.post-card div.post-card__footer div p.p-bg-padding {
  padding: 0.1875rem 0;
}

.post-card__top div.post-card__top-names p.post-card__top-no-top-margin {
  margin-top: 0rem;
}

.post-card__top div:last-child img.ellipsis-img {
  width: 1rem;
  height: 1rem;
}

.special-red {
  color: var(--SPECIAL-RED);
}

/* || CREATE POST FORM */
.create-post-form {
  margin: 0 -0.75rem;
  margin-top: -0.5rem;
}
.create-post-form__textarea {
  width: 100%;
  height: 100vh;
  padding: 0.5rem;
  border: none;
  resize: none;
}

.create-post-form__textarea:focus {
  outline: none;
}

.create-post-form img {
  height: 2rem;
  width: 2rem;
  position: fixed;
  bottom: calc(58px);
  right: 1.3rem;
  transform: translate(-50%, -50%);
}

/* || SMALL */

@media screen and (min-width: 576px) {

  /* || HEADER AUTHENTICATED */

  li.header-auth__nav__ul__div__li-5,
  li.header-auth__nav__ul__li-1 {
    display: flex;
  }

  .header-auth__nav__ul__li-1 h1 {
    display: none;
  }

  li.header-auth__nav__ul__li-1:hover {
    background-color: white;
  }

  .auth {
    display: flex;
    flex-flow: row-reverse nowrap;
  }

  .header-auth {
    height: 100vh;
    max-height: 100vh;
    width: 10vw;
    top: 0;
  }

  .header-auth__nav {
    border: none;
    border-right: var(--THIN-LIGHT-GREY-BORDER);
    padding-top: 3vh;
  }
  .header-auth__nav__ul {
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 97vh;
  }
  .header-auth__nav__ul li {
    height: 4rem;
  }
  .auth .main {
    width: 90vw;
  }

  /* || HEADER UNAUTHENTICATED */

  .header-unauth {
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
  }

  .header-unauth__div {
    flex: 30%;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .header-unauth__p {
    flex: 70%;
    display: flex;
    align-items: center;
  }

  .header-unauth__p::before {
    content: "Log in or register if you want to use the full functionality of Typenpost.";
  }

  .header-unauth__btn {
    width: 75%;
    max-width: 10em;
  }

  /* || USER HEADER */

  .user-header {
    display: none;
  }

  .user-header-lg {
    display: flex;
    flex-wrap: wrap;
  }

  .user-header-stats {
    justify-content: flex-start;
    gap: 2rem;
  }

  .user-header-lg__top-right {
    flex: 70%;
    padding-left: 1rem;
  }

  .user-header-lg-top-right__first-line {
    display: flex;
    justify-content: space-between;
  }

  .user-header__avatar img {
    width: 8rem;
    height: 8rem;
  }

  .user-header-lg__edit-button {
    max-width: 7rem;
    width: 7rem;
  }
}

/* || MEDIUM */

@media screen and (min-width: 768px) {
  .header-unauth__p {
    justify-content: center;
  }
}
/* || LARGE */

@media screen and (min-width: 992px) {

  .container {
    max-width: 1000px;
  }

  /* || AUTHENTICATED HEADER */

  .header-auth__nav__ul__div {
    width: 100%;
  }
  
  .auth {
    justify-content: flex-end;
  }

  .header-auth {
    width: 23vw;
    max-width: max(13vw, 17rem);
  }

  .auth .main {
    width: 77vw;
  }

  .header-auth__nav {
    padding-left: 3vw;
  }

  .header-auth__nav__ul__li-1 img {
    display: none;
  }

  .header-auth__nav__ul__li-1 h1 {
    display: block;
    font-family: Cabin, sans-serif;
    color: #0b48d5;
  }

  .header-auth__nav__ul li {
    font-size: 1.2rem;
    justify-content: flex-start;
    align-items: center;
  }
  .header-auth__nav__ul li::after {
    padding-left: 1rem;
    padding-bottom: 0.2rem;
  }
  .header-auth__nav__ul__li-2::after {
    content: "Home";
  }
  .header-auth__nav__ul__li-3::after {
    content: "Create";
  }
  .header-auth__nav__ul__li-4::after {
    content: "Profile";
  }
  .header-auth__nav__ul__div__li-5::after {
    content: "More";
  }

  /* || UNAUTHENTICATED HEADER */
  .header-unauth__div {
    flex-direction: row;
    justify-content: flex-end;
  }

  /* || USER PROFILE */

  .banner-user-profile {
    display: none;
  }

  .user-header-lg {
    margin-top: 1.75rem;
  }

  .user-header__avatar img {
    height: 10rem;
    width: 10rem;
  }

  .user-header-lg {
    display: flex;
    justify-content: flex-start;
  }

  .user-header__avatar {
    max-width: 20rem;
  }

  .user-header-lg__top-right {
    max-width: 30rem;
  }
}

/* || MOBILE DEVICE LANDSCAPE  */
@media screen and (max-height: 425px) and (min-aspect-ratio: 7/4) {
  .c-dropdown__body-auth {
    top: -0.5rem;
    left: 6rem;
  }
  .logo-banner {
    display: none;
  }
  .main {
    padding-top: 1.5rem;
  }
}
