@import url("https://fonts.googleapis.com/css2?family=Cabin&display=swap");

/* || RESET */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
button,
textarea {
  font: inherit;
}

/* || VARIABLES */

:root {
  /* COLORS */
  --TP-COLOR: #0b48d5;
  --TP-BTN-LIGHT-COLOR: hsl(222, 90%, 95%);
  --TP-BTN-DARK-COLOR: hsl(222, 90%, 35%);

  /* BORDERS */
  --THIN-LIGHT-GREY-BORDER: 1px solid var(--bs-gray-200);
  --TP-COLOR-BORDER: 1px solid var(--TP-COLOR);
}

/* @media (prefers-color-scheme: dark) {
    :root {
    }
} */

/* || UTILITY CLASSES */

.offscreen {
  position: absolute;
  left: -10000px;
}

.nowrap {
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

/* || GENERAL STYLES */

main {
  min-height: 100vh;
}

.a:any-link {
  color: black;
  text-decoration: none;
}

.a:hover {
  text-decoration: underline;
}

.a-without-underline-onhover:hover {
  text-decoration: none;
}

/* || BOOTSTRAP ALTERATIONS */

p {
  margin-bottom: 0;
}

.btn-primary {
  background-color: var(--TP-COLOR);
  border-color: var(--TP-COLOR);
}

.no-top-border .accordion-header button {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-weight: 400;
  height: 40px;
}

/* || HEADER */

/* || HEADER AUTHENTICATED */



.header-auth__ul li:last-child,
.header-auth__ul li:first-child {
  display: none;
}

.header-auth,
.header-unauth {
  height: 52px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
}

.header-auth__nav {
  height: inherit;
  background-color: var(--bs-body-bg);
  border-top: var(--THIN-LIGHT-GREY-BORDER);
}

.header-auth__ul {
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  padding-left: 0;
}

.header-auth__ul li {
  width: 100%;
  height: inherit;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-auth__ul li img {
  width: 2rem;
}

.header-auth__ul li:hover {
  background-color: var(--bs-gray-100);
}

.header-auth__avatar {
  height: 2rem;
  object-fit: cover;
  border-radius: 50%;
}


/* || HEADER UNAUTHENTICATED */

.header-unauth {
  height: 60px;
  border-top: var(--THIN-LIGHT-GREY-BORDER);
  background-color: var(--bs-body-bg);
  padding: 0 1rem;
}

.header-unauth__btns {
  height: inherit;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
  gap: 1rem;
}

.header-unauth__btn {
  width: 45%;
}

/* || LOADER */

.loader::before {
  content: "typenpost";
}

.loader {
  font-family: Cabin, sans-serif;
  color: #0b48d5;
  font-weight: normal;
  font-size: 3rem;
  height: 100vh;
  display: grid;
  place-content: center;
}

/* || ERROR */

.error {
  display: grid;
  height: 60vh;
  place-content: center;
}

/* || LOGO FOR FORMS */

.logo-for-forms {
  font-family: Cabin, sans-serif;
  color: white;
  font-weight: normal;
  background-color: var(--TP-COLOR);
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo-for-forms span {
  padding-bottom: 0.4rem;
}

/* || SHOW PASSWORD TOGGLE */

.show-password {
  position: relative;
}

.show-password-btn {
  position: absolute;
  top: 1.1rem;
  right: 1em;
  z-index: 1;
}

.show-password-btn-shifted {
  right: 2.3rem;
}

/* || SIMPLE CLASSES */

.big-button {
  font-size: 1.5rem;
  height: 3.625rem;
}

.border-bottom-rounded {
  border-bottom-left-radius: calc(0.5rem - 1px);
  border-bottom-right-radius: calc(0.5rem - 1px);
}

.no-top-border {
  border-top: none;
}

.no-left-right-top-border {
  border-right: none;
  border-left: none;
  border-top: none;
}

.no-border {
  border: none;
}

.listgroupitem-settings-modal {
  display: flex;
}

.listgroupitem-settings-modal span {
  padding-bottom: 0.1rem;
  padding-left: 0.4rem;
}

/* || DROPDOWN ITEM SETTINGS */

.header-auth__dropdown-item {
  display: flex;
}
.header-auth__dropdown-item span {
  margin-left: 0.5rem;
  padding-bottom: 0.1rem;
}
.header-auth__dropdown-item:hover {
  background: var(--bs-gray-100);
}

/* || USER HEADER */

.user-header {
  display: flex;
  flex-wrap: wrap;
}

.user-header__avatar {
  flex: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-header__avatar img {
  height: 4.5rem;
  width: 4.5rem;
  object-fit: cover;
  border-radius: 50%;
}

.user-header-top-left {
  text-align: center;
  flex: 75%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  align-items: center;
  /* gap: 1rem; */
}

.user-header__num {
  margin-bottom: -0.3rem;
  font-weight: bolder;
}

.user-header__name {
  margin: 0.5rem;
  width: 100%;
  margin: 0;
  margin-top: 0.3rem;
  overflow-wrap: break-word;
}
.user-header__name h4 {
  width: 100%;
  margin-bottom: 0;
}
.user-header__about {
  width: 100%;
  overflow-wrap: break-word;
}

.user-header__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.user-header__buttons button {
  width: 49%;
}

/* || SMALL */

@media screen and (min-width: 576px) {
  /* || HEADER AUTHENTICATED */

  
  .header-auth__ul div {
    width: 100%;
  }

  .header-auth__ul li:last-child,
  .header-auth__ul li:first-child {
    display: flex;
  }

  .header-auth__first-h1 {
    display: none;
  }

  .header-auth__ul li:first-child:hover {
    background-color: white;
  }

  .header-auth__ul li:last-child:hover {
    background-color: var(--bs-gray-100);
  }

  body #root .auth {
    display: flex;
    flex-flow: row-reverse nowrap;
  }
  .header-auth {
    flex: 10vw;
    height: 100vh;
    max-height: 100vh;
    top: 0;
  }

  .header-auth__nav {
    border: none;
    border-right: var(--THIN-LIGHT-GREY-BORDER);
    padding-top: 3vh;
  }
  .header-auth__ul {
    flex-flow: column nowrap;
    justify-content: flex-start;
    height: 97vh;
  }
  .header-auth__ul li {
    height: 4rem;
  }
  .auth .main {
    flex: 90vw;
  }


  /* || HEADER UNAUTHENTICATED */

  .header-unauth {
    height: 100px;
    display: flex;
    flex-flow: row nowrap;
  }

  .header-unauth__btns {
    flex: 30%;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
  }

  .header-unauth__p {
    flex: 70%;
    display: flex;
    align-items: center;
  }

  .header-unauth__p::before {
    content: "Log in or register if you want to use the full functionality of Typenpost.";
  }

  .header-unauth__btn {
    width: 75%;
    max-width: 10em;
  }
}

/* || MEDIUM */

@media screen and (min-width: 768px) {
  .header-unauth__p {
    justify-content: center;
  }
}
/* || LARGE */

@media screen and (min-width: 992px) {
  /* || AUTHENTICATED HEADER */

  .header-auth {
    flex: 20vw;
  }
  .main {
    flex: 80vw;
  }
  .header-auth__nav {
    padding-left: 3vw;
  }

  /* .header-auth__ul li:first-child {
    position: relative;
  } */

  .header-auth__first-image {
    display: none;
  }

  .header-auth__first-h1 {
    display: block;
    font-family: Cabin, sans-serif;
    color: #0b48d5;
  }

  .header-auth__ul li {
    background-position: center left;
    font-size: 1.2rem;
    justify-content: flex-start;
    align-items: center;
  }
  .header-auth__ul li::after {
    padding-left: 1rem;
    padding-bottom: 0.3rem;
  }
  .header-auth__ul li:nth-child(2)::after {
    content: "Home";
  }
  .header-auth__ul li:nth-child(3)::after {
    content: "Create";
  }
  .header-auth__ul li:nth-child(4)::after {
    content: "Profile";
  }
  .header-auth__ul li:last-child::after {
    content: "More";
  }

  /* || UNAUTHENTICATED HEADER */
  .header-unauth__btns {
    flex-direction: row;
    justify-content: flex-end;
  }
}
