.login-signup-button {
    font-size: 25px;
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    color: black
}
.dropdown-item-link:active {
    color: white
}
.loader{
    /* position: fixed;
    left: 45%;
    top: 35%;
    z-index: 1000; */
    position: fixed;
    margin: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 30%;
    z-index: 1;
    height: 50px;
    width: 50px;
}
.juju {
    height: calc(3.5rem + 2px);
    background-color: white;
    border-left: None;
}
.following-btn {
    color: black;
    background-color: white;
    border-color: black;
}
.following-btn:hover {
    color: red;
    background-color: white;
    border-color: red;
}
.fixed-btn-size {
    width: 95px;
}
.fixed-btn-size:hover {
    width: 95px;
}